<?xml version="1.0"?>
<config>
    <modules>
        <Rawnet_Feefo>
            <version>0.1.0</version>
        </Rawnet_Feefo>
    </modules>
    <frontend>
        <routers>
            <feefo>
                <use>standard</use>
                <args>
                    <module>Rawnet_Feefo</module>
                    <frontName>feefo</frontName>
                </args>
            </feefo>
        </routers>
        <!--
        <layout>
            <updates>
                <ship>
                    <file>feefo.xml</file>
                </ship>
            </updates>
        </layout>
        -->
		<events>
			<sales_order_place_after>
				<observers>
					<pushOrderDataToFeefo>
						<class>feefo/observer</class>
						<method>pushOrderDataToFeefo</method>
					</pushOrderDataToFeefo>
				</observers>
			</sales_order_place_after>
		</events>
    </frontend>
    <global>
        <models>
            <feefo>
                <class>Rawnet_Feefo_Model</class>
                <resourceModel>ship_mysql4</resourceModel>
            </feefo>
            <feefo_mysql4>
                <class>Rawnet_Feefo_Model_Mysql4</class>
                <entities>
                    <feefo>
                        <table>feefo</table>
                    </feefo>
                </entities>
            </feefo_mysql4>
        </models>
        <resources>
            <feefo_setup>
                <setup>
                    <module>Rawnet_Feefo</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </feefo_setup>
            <feefo_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </feefo_write>
            <feefo_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </feefo_read>
        </resources>
        <blocks>
            <ship>
                <class>Rawnet_Feefo_Block</class>
            </ship>
        </blocks>
        <helpers>
            <ship>
                <class>Rawnet_Feefo_Helper</class>
            </ship>
        </helpers>
    </global>
</config>